main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cart-box {
    background-color: #ad3838;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 25px;
    padding: 25px;
    width: 555px;
    height: 666px;
    border: solid;
    border-color: #75b855;
    border-width: 15px;
}

th {
    color: white;
}