body {
    background-color: #157241;
}

nav {
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

main {
    border-left: solid;
    border-right: solid;
    border-width: 65px;
    border-color: #75b855;
    background-color: #db6161;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 150%;
    min-height: 995px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

.alert {
    margin-top: 25px;
}

#message {
    position: absolute;
    margin: 20px;
}
