{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extra_head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cart.css') }}">
    {% endblock %}
    <title>Document</title>
</head>
<body>
    {% block body %}
    <main>
        <div id="cart-box">
            <table class="table table-striped mt-3">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th>Total</th>
                    </tr>
                    {% for melon in cart_melons %}
                        <tr>
                            <th>{{ melon.common_name }}</th>
                            <th>{{ melon.quantity }}</th>
                            <th>{{ '%0.2f' | format(melon.price) }}</th>
                            <th>{{ '%0.2f' | format(melon.total_cost) }}</th>
                        </tr>
                    {% endfor %}
                    <tr>
                        <th>Total Melons: </th>
                        <th>{{ order_total[1] }}</th>
                        <th>Total Price: </th>
                        <th>{{ order_total[0] }}</th>
                    </tr>
                </thead>
            </table>
            <a class="btn btn-primary" href="{{ url_for('empty_cart') }}">Empty Cart</a>
        </div>
    </main>
    {% endblock %}
</body>
</html>